---
 import { Image, Picture } from 'astro:assets';

interface Props {
   imagePath: string;
   altText: string;
}

const { imagePath, altText } = Astro.props;
const images = import.meta.glob('/src/assets/images/certificate/*.{jpeg,jpg,png,gif}')
---

<!-- <Image src={images[imagePath]()} alt={altText} class="small-image"/> -->
<Picture src={images[imagePath]()} formats={['avif', 'webp']} alt={altText} class="small-image"/>
<div class="big-image-container">
    <!-- <Image src={images[imagePath]()} alt={altText} class="big-image"/> -->
    <Picture src={images[imagePath]()} formats={['avif', 'webp']} alt={altText} class="big-image"/>
</div>

<style>
    .small-image {
        border-radius: var(--border-radius);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .big-image-container {
        display: none;
    }

    .big-image-container.active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 20;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        cursor: pointer;
        overflow: auto;
        background-color: var(--dark-alfa);
        backdrop-filter: blur(12px);
    }

    .big-image {
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
        animation-name: zoom-in;
        animation-duration: 0.3s;
    }

    .zoom-out {
        animation-name: zoom-out;
        animation-duration: 0.3s;
    }

    @keyframes zoom-in {
        from {
            transform: scale(0.1);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes zoom-out {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0.1);
        }
    }
</style>

<script>
    const bigImgContainer = document.getElementsByClassName("big-image-container");
    const bigImg = document.getElementsByClassName("big-image");
    const smallImg = document.getElementsByClassName("small-image");

    for (let i = 0; i < smallImg.length; i++) {
        smallImg[i].closest("div").addEventListener("click", function (){
            bigImgContainer[i].classList.add("active");
        });

        bigImgContainer[i].addEventListener("click",function () {
            closeAnimation();
        });

        function closeAnimation() {
            bigImg[i].classList.add("zoom-out");
            setTimeout(function () {
                bigImgContainer[i].classList.remove("active");
                bigImg[i].classList.remove("zoom-out");
            }, 300);
        }
    }
</script>
