---
import InfoCard from "../InformationCard.astro";
import VerticalLine from "../VerticalLine.astro";

const informations = [
    {
        dates : "June 2023 - current",
        positionAndCompany : "Frontend dev @ CodeYourPath (online mentorship)",
        place : "CodeYourPath | ", 
        link : "https://codeyourpath.com",
        responsibilities : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga."
    },
    {
        dates : "September 2011 - June 2015",
        positionAndCompany : "Computer Science @ Avans (bachelor)",
        place : "'s-Hertogenbosch | Minor: Multimedia", 
        link : "",
        responsibilities : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga."
    },
    {
        dates : "September 2008 - may 2011",
        positionAndCompany : "Havo @ Rodenborch (havo)",
        place : "Rosmalen", 
        link : "",
        responsibilities : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga."
    }
]
---

<section id="education">
    <h1>Education</h1>
    {informations.map((element) => {
        // console.log(e);
        <InfoCard 
            dates = {element.dates}
            positionAndCompany = {element.positionAndCompany}
            place = {element.place}
            link = {element.link}
            responsibilities = {element.responsibilities}
        />
    })}
</section>

<!-- <section id="education">
    <h1>Education</h1>
    <div class="container">
        <div class="duration">
            June 2023 - current
        </div>
        <div class="description">
            <VerticalLine />
            <h3>Frontend dev @ CodeYourPath (online mentorship)</h3>
            <p class="city">CodeYourPath |
                <span><a href="https://codeyourpath.com" target="_blank">https://codeyourpath.com</a></span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.</p>
        </div>
    </div>
    <div class="container">
        <div class="duration">
            September 2011 - June 2015
        </div>
        <div class="description">
            <VerticalLine />
            <h3>Computer Science @ Avans (bachelor)</h3>
            <p class="city">'s-Hertogenbosch | Minor: Multimedia
                <span><a href="" target="_blank"></a></span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.</p>
        </div>
    </div>
    <div class="container">
        <div class="duration">
            September 2008 - may 2011
        </div>
        <div class="description">
            <VerticalLine />
            <h3>Havo @ Rodenborch (havo)</h3>
            <p class="city">Rosmalen 
                <span><a href="" target="_blank"></a></span>
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam in corrupti vitae, ab accusantium distinctio mollitia iste magnam doloremque sed aperiam, eveniet alias repellendus officiis dolor consectetur provident. Repellendus, fuga.</p>
        </div>
    </div>
</section>

<style>
    /* Work/education section style */
    .container {
        display: grid;
        margin-bottom: 4rem;
    }

    .duration {
        line-height: 2;
        text-align: right;
        text-transform: uppercase;
        padding-left: 3rem;
        color: rgb(107 114 128);
    }

    .description {
        grid-column: span 2;
        position: relative;
        padding-left: 3rem;
    }

    .city {
        line-height: 1.25rem;
        font-size: 1rem;
        margin: 0;
        color:  rgb(107 114 128);
    }

    .city a {
        color: rgb(99, 102, 241);
        text-decoration: none;
    }

    @media screen and (min-width: 636px) {
        .container {
            display: grid;
            grid-template-columns: repeat(3,minmax(0,1fr));
            gap: 2rem;
        }

        .duration {
            padding-left: 0;
        }
    }
</style> -->