---
import InfoCard from "../InformationCard.astro";
import CertificateCard from "../CertificateCard.astro";
import IDLink from "../../components/IDLink.astro";
import { educationInfo } from "../data/data.js";

const informations = educationInfo;
---

<IDLink id="education"/>
<section class="education">
    <h1>Education</h1>
    {
        informations.map((element) => (
            <InfoCard
                dates={element.dates}
                positionAndCompany={element.positionAndCompany}
                place={element.place}
                link={element.link}
                responsibilities={element.responsibilities}
            />
        ))
    }
    <h2>Certificates</h2>
    <CertificateCard />
</section>
