---
import InfoCard from "../InformationCard.astro";
import {educationInfo} from "../data/data.js";

const informations = educationInfo;
---

<section id="education">
    <h1>Education</h1>
    {informations.map((element) => 
        <InfoCard 
            dates = {element.dates}
            positionAndCompany = {element.positionAndCompany}
            place = {element.place}
            link = {element.link}
            responsibilities = {element.responsibilities}
        />
    )}
</section>