---
import InfoCard from "../InformationCard.astro";
import {workInfo} from "../data/data.js";

const informations = workInfo; 
---

<section id="work">
    <h1>Work Expirience</h1>
    {informations.map((element) => 
        <InfoCard 
            dates = {element.dates}
            positionAndCompany = {element.positionAndCompany}
            place = {element.place}
            link = {element.link}
            responsibilities = {element.responsibilities}
        />
    )}
</section>