---
import ImageZoomAnimation from "./animations/ImageAnimation.astro";
import { certificateData } from "./data/data.js";

import AltImageAnimation from "./animations/AltImageAnimation.astro";

const certs = [
    { link: "/src/assets/images/certificate/English_cert.jpg", alt: "image of english certificate", description: "English Business Course" },
    { link: "/src/assets/images/certificate/Udemi_docker_cert.jpg", alt: "image of docker and kubernetes certificate", description: "Docker & Kubernetes: The Complete Practical Guide" }
]
---

<div class="certificates">
    
    <!-- Usint images from src  -->
    {
        certs.map((e) => (
            <div class="certificate-container">
                    <AltImageAnimation 
                        imagePath={e.link}
                        altText={e.alt}
                    />
                <div class="overlay">
                    <span class="text">{e.description}</span>
                </div>
            </div>
        ))
    }

    <!-- Using images from public -->
    <!-- {
        certificateData.map((certificate) => (
            <div class="certificate-container">
                <ImageZoomAnimation
                    link={certificate.link}
                    alt={certificate.alt}
                />
                <div class="overlay">
                    <span class="text">{certificate.description}</span>
                </div>
            </div>
        ))
    } -->
</div>

<style>
    .certificates {
        width: 100%;

        /* Flex */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        /* Grid */
        /* display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));  */
    }

    .certificate-container {
        position: relative;
        margin-top: 2rem;
        max-width: 300px;
        width: 100%;
        height: 230px;
        box-shadow: var(--shadow-low);
    }

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        border-radius: var(--border-radius);
        transition: 0.5s ease;
        backdrop-filter: blur(20px);
    }

    .certificate-container:hover .overlay {
        opacity: 1;
    }

    .text {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        padding: 0.5rem;
        color: var(--light-color);
    }
</style>
