---
import VerticalLine from "./VerticalLine.astro";
const cardInfo = Astro.props;
---

<div class="container">
    <div class="dates">
        {cardInfo.dates}
    </div>
    <div class="description">
        <VerticalLine />
        <h3>{cardInfo.positionAndCompany}</h3>
        <p class="place">
            {cardInfo.place}
            <span>
                <a href={cardInfo.link} target="_blank" aria-label={cardInfo.link}>
                    {cardInfo.link}
                </a>
            </span>
        </p>
        <p class="responsibilities">{cardInfo.responsibilities}</p>
    </div>
</div>

<style>
    .container {
        display: grid;
        margin-bottom: 4rem;
    }

    .dates {
        padding-left: 3rem;
        text-transform: uppercase;
        color: var(--gray-500);
    }

    .description {
        position: relative;
        padding-left: 3rem;
    }

    .place {
        line-height: 1.25rem;
        font-size: 1.25rem;
        margin: 0;
        color: var(--gray-500);
    }

    .place a {
        color: var(--primary-400);
        text-decoration: none;
    }

    .responsibilities {
        margin-top: 1.5rem;
    }

    @media screen and (min-width: 700px) {
        .container {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 2rem;
            align-items: start;
            justify-items: end;
        }

        .dates {
            padding-left: 0;
        }

        .description {
            grid-column: span 2;
        }
    }
</style>
