---
import VerticalLine from "./VerticalLine.astro";
const cardData = Astro.props;
---

<div class="container">
    <div class="dates">
        {cardData.dates}
    </div>
    <div class="description">
        <VerticalLine />
        <h3>{cardData.positionAndCompany}</h3>
        <p class="place">
            {cardData.place}
            <span
                ><a href={cardData.link} target="_blank">{cardData.link}</a
                ></span
            >
        </p>
        <p>{cardData.responsibilities}</p>
    </div>
</div>

<style>
    .container {
        display: grid;
        margin-bottom: 4rem;
        place-items: center;
    }

    .dates {
        text-align: center;
        text-transform: uppercase;
        color: var(--gray-500);
    }

    .description {
        grid-column: unset;
        position: relative;
        padding-left: 3rem;
    }

    .place {
        line-height: 1.25rem;
        font-size: 1.25rem;
        margin: 0;
        color: var(--gray-500);
    }

    .place a {
        color: var(--primary-400);
        text-decoration: none;
    }

    @media screen and (min-width: 700px) {
        .container {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 2rem;
            place-items: unset;
        }

        .dates {
            text-align: right;
        }

        .description {
            grid-column: span 2;
        }
    }
</style>
